.notification-bell {
  position: relative;
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: 1rem;
  outline: none;
}

.notif-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #d32f2f;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.6rem;
  font-size: 0.85rem;
  font-weight: 600;
  border: 2px solid #fff;
}
